uvicorn==0.30.6
SQLAlchemy==2.0.34
schedule==1.2.2
requests==2.32.3
pydantic==2.8.2
mysql==0.0.3
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
tqdm==4.66.4
SQLAlchemy==2.0.34
urllib3==2.2.2
fastapi==0.112.2
databases
pydantic==2.8.2
pydantic-settings==2.4.0
pydantic_core==2.20.1
pydeck==0.9.1
Pygments==2.18.0
watchdog==4.0.1
aiomysql==0.2.0
schedule==1.2.2
APScheduler==3.10.4
celery[redis]